# dependencies
node_modules/
native/node_modules/

# Expo / React Native generated output
.expo/
native/.expo/
dist/
native/dist/
web-build/
expo-env.d.ts
native/expo-env.d.ts

# native generated folders
android/
ios/
native/android/
native/ios/

# local files
.env
.env.*
*.log
*.apk
*.aab
*.zip
*.docx
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.tsbuildinfo

# OS/editor
.DS_Store
